.app {
  @media (max-width: 1024px) {
    max-width: 1024px;

    overflow: hidden;
  }
}

.wrapper {
  max-width: 1200px;

  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto 3rem;
  @media (max-width: 1024px) {
    max-width: 1024px;
    padding: 0 $main-padding;
    overflow: hidden;
  }

  @media (max-width: 780px) {
    display: block;
  }
}

.autoplay {
  width: 100%;

  max-width: 1200px;
  margin: 2rem auto 3rem;

  @media (max-width: 1024px) {
    max-width: 1024px;
    padding: 0 $main-padding;
  }
}
