.wrapper {
  max-width: 1200px;

  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto 3rem;
  border: 1px red dotted;
  // justify-content: space-between;
  // position: relative;
}

.autoplay {
  width: 100%;

  max-width: 1200px;
  margin: 2rem auto 3rem;

  // margin-bottom: $main-padding * 2;
}
