.footer {
  position: relative;

  width: 100vw;

  max-width: 1900px;
  margin: 150px auto 0;
  // border: 3px red dotted;

  &__wrapper {
    max-width: 1200px;
    width: 100%;

    margin: 2rem auto 3rem;
    position: absolute;
    bottom: 0;

    z-index: 2;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
  }

  &__info {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }

  &__logo {
    text-align: center;
    padding-top: $main-padding;
  }

  &__ground-grey {
    position: relative;

    z-index: -1;
    bottom: 0;
  }

  &__ground-black {
    position: absolute;

    z-index: 1;
    bottom: 0;
  }

  &__soldier {
    position: absolute;
    z-index: -1;
    &--1 {
      top: -150px;
      left: 0px;
    }
    &--2 {
      top: -50px;
      left: 50px;
    }
    &--3 {
      top: 20px;
      right: 460px;
    }
    &--4 {
      top: -20px;
      right: 200px;
    }
    &--5 {
      top: -20px;
      right: 0%;
    }
  }

  &__flag {
    position: absolute;
    z-index: -1;
    top: 30px;
    right: 400px;
  }

  &__tires {
    position: absolute;
    z-index: -1;
    top: -20px;
    right: 120px;
  }

  &__container {
    // border: 3px rgb(82, 55, 155) dotted;
    color: rgb(167, 167, 167);
    font-size: 0.8rem;
    line-height: 1.8rem;
    font-family: $font-lato;
  }

  &__title {
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: $main-padding / 2;
    font-size: 1rem;
  }

  &__email {
    text-decoration: none;
    // color: rgb(167, 167, 167);
    color: #fff;
    font-size: 1rem;
  }

  &__number {
    font-size: 1.5rem;
    color: #fff;
  }

  & li {
    cursor: pointer;
  }

  &__ico {
    padding-right: $main-padding / 2;
    font-weight: 600;
  }

  &__social {
    display: flex;
    padding-top: $main-padding;

    &-ico {
      font-size: 2rem;
      font-weight: 200;
      color: $red;
      padding-right: $main-padding * 2;
      cursor: pointer;
    }
  }
}
