.header {
  width: 100vw;

  max-width: 1900px;
  margin: 0 auto;

  &__top-bar {
    background-color: $grey-dark;

    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;

    @media (max-width: 780px) {
      height: 100px;
    }
  }
  &__container {
    width: 100%;
    max-width: 1200px;
    display: flex;

    &-contacts {
      display: flex;
      @media (max-width: 780px) {
        flex-direction: column;
        justify-content: space-evenly;
      }
    }

    @media (max-width: 1024px) {
      max-width: 1024px;
      padding: 0 $main-padding / 4;
    }

    &--main {
      flex-direction: column;
    }
  }
  &__contact {
    color: $bright;
    font-family: $font-montserrat;
    font-size: 11px;
    padding: $main-padding / 3 $main-padding $main-padding / 2 0;
    display: flex;

    @media (max-width: 780px) {
      padding-right: $main-padding * 2;
      font-size: 0.7rem;
    }

    @media (max-width: 480px) {
      font-size: 0.5rem;
      color: rgb(143, 142, 142);
      padding: $main-padding / 4 $main-padding / 8 $main-padding / 4
        $main-padding / 4;
    }
  }
  &__ico {
    color: $red;
    padding-right: $main-padding / 2;
  }

  &__main {
    width: 100%;

    height: 170px;

    background-image: url('../images/header/header_bgc.png');

    background-position: top center;
  }

  &__email {
    display: flex;
    // &-mobile {
    //   display: none;
    // }

    @media (max-width: 480px) {
      order: 3;

      // &-desktop {
      //   display: none;
      // }

      // &-mobile {
      //   display: inline;
      // }
    }
  }
}
