.main {
  display: flex;

  max-width: 1200px;
  margin: $main-padding auto;

  z-index: -1;

  @media (max-width: 1024px) {
    max-width: 1024px;
    display: block;
    // padding: 0 $main-padding;
  }
}

.text {
  font-size: 0.8rem;
}
.text-articles {
  line-height: 1.5rem;
  font-family: 'arial';
}
.text-side {
  font-size: 0.6rem;
  text-transform: lowercase;
}

.bold {
  font-weight: bold;
  // font-size: 0.8rem;
}

.red {
  color: #c32c12;
  font-size: 0.6rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.ico-normal {
  font-weight: 200;
  font-size: 1.4rem;
  width: 1.4rem;
  text-align: right;
}

.title {
  font-family: $font-montserrat;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.white {
  font-size: 0.7rem;
  font-weight: 600;
  color: #fff;
}
