.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  &__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--top {
    height: 50%;
  }
  &--middle {
    background-color: #fff;
    height: 30%;
  }
  &--bottom {
    height: 20%;
  }

  &__logo {
    width: 25%;

    &-image {
      display: block;
      margin-left: 0;
      margin-right: auto;
      width: 80%;
    }
  }
  &__search {
    width: 25%;
    height: 50%;

    display: flex;

    justify-content: space-between;

    &-input {
      background-color: #fff;
      flex-grow: 1;
      font-size: 0.7rem;
      text-indent: 1rem;
      color: grey;
      padding-top: $main-padding / 2;
      border: none;
    }
    &-ico {
      background-color: $grey-dark;
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: $main-padding / 2;
      color: $bright;
    }
  }
  &__language {
    width: 60px;
  }

  &__country {
    border: none;
    background-color: transparent;

    font-family: $font-pt;
    font-weight: bold;
  }

  &__account {
    // border: 1px dotted green;
    width: 10%;
    font-family: $font-pt;
    font-weight: bold;
  }
  &__basket {
    // border: 1px dotted green;
    // width: 25%;
    // width: 145px;
    align-self: flex-start;
    position: relative;
    top: -30px; /*  size od top-bar*/

    &-image {
      width: 180px;

      // position: absolute;
      // height: 156px;
    }
  }

  &__list {
    display: flex;
    // border: 1px solid rgb(58, 152, 39);
    height: 100%;

    align-items: center;
  }

  &__item {
    position: relative;
    font-family: $font-montserrat;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: $main-padding * 3;
    border-bottom: 3px solid white;
    display: block;
    height: 100%;
    align-items: center;
    display: flex;

    &:hover {
      border-bottom: 3px solid #c32c12;
    }
  }

  &__path {
    font-family: $font-montserrat;

    padding-right: $main-padding / 2;
    font-size: 0.6rem;
  }

  &__link {
    text-decoration: none;
    color: black;
    font-family: $font-montserrat;
    font-size: 0.8rem;
    line-height: 15px;
    padding: $main-padding / 2;
    display: block;

    &:hover,
    &:active,
    &:focus {
      outline: 0;
    }
  }

  &__submenu {
    position: absolute;
    top: 100%;
    margin-top: 3px;
    left: 0;
    display: none;
    background-color: #fff;
    padding: $main-padding / 2 0;
    left: -($main-padding / 2);

    &--active {
      display: block;
    }
  }

  // [aria-current] {
  //   background-color: #ceada7;
  // }
  &__subitem {
    display: block;
    min-width: 200px;

    &:hover {
      background-color: #c32c12;
    }

    // padding-right: $main-padding * 4;
  }

  &__arrow-down {
    padding-left: $main-padding / 4;
  }
}
