.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  // border: blue 2px dotted;

  &__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--top {
    height: 50%;
  }
  &--middle {
    background-color: #fff;
    height: 30%;
  }
  &--bottom {
    height: 20%;
  }

  &__logo {
    width: 25%;

    &-image {
      display: block;
      margin-left: 0;
      margin-right: auto;
      width: 80%;
    }
  }
  &__search {
    width: 25%;
    height: 50%;

    display: flex;

    justify-content: space-between;

    &-input {
      background-color: #fff;
      flex-grow: 1;
      font-size: 0.7rem;
      text-indent: 1rem;
      color: grey;
      padding-top: $main-padding / 2;
      border: none;
    }
    &-ico {
      background-color: $grey-dark;
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: $main-padding / 2;
      color: $bright;
    }
  }
  &__language {
    width: 60px;
  }

  &__country {
    border: none;
    background-color: transparent;

    font-family: $font-pt;
    font-weight: bold;
  }

  &__account {
    width: 10%;
    font-family: $font-montserrat;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__list {
    display: flex;

    height: 100%;

    align-items: center;
  }

  &__item {
    position: relative;
    font-family: $font-montserrat;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: $main-padding * 3;
    border-bottom: 3px solid white;
    display: block;
    height: 100%;
    align-items: center;
    display: flex;

    &:hover {
      border-bottom: 3px solid #c32c12;
    }
  }

  &__path {
    font-family: $font-montserrat;

    padding-right: $main-padding / 2;
    font-size: 0.6rem;
  }

  &__link {
    text-decoration: none;
    color: black;
    font-family: $font-montserrat;
    font-size: 0.8rem;
    line-height: 15px;
    padding: $main-padding / 2;
    display: block;

    &:hover,
    &:active,
    &:focus {
      outline: 0;
    }
  }

  &__submenu {
    position: absolute;
    top: 100%;
    margin-top: 3px;
    left: 0;
    display: none;
    background-color: #fff;
    padding: $main-padding / 2 0;
    left: -($main-padding / 2);
    z-index: 11;

    &--active {
      display: block;
    }
  }

  &__subitem {
    display: block;
    min-width: 200px;

    &:hover {
      background-color: #c32c12;
    }
  }

  &__arrow-down {
    padding-left: $main-padding / 4;
  }
}

.basket {
  align-self: flex-start;
  position: relative;
  top: -30px; /*  size od top-bar*/

  // border: green 1px dotted;
  color: #fff;
  font-weight: bold;
  line-height: 1rem;

  &__image {
    width: 190px;
    height: 140px;
  }

  &__content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    // border: 1px white dotted;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding: $main-padding / 2;
  }
  &__rank {
    width: 30%;
    // height: 100%;
    // border: rgb(46, 113, 56) 1px dotted;
    position: relative;
    display: flex;
    justify-content: center;

    & img {
      height: 100%;
      // border: rgb(34, 63, 97) 1px dotted;
    }

    &-image {
      // border: green 1px dotted;
      height: 100%;
    }

    &-circle {
      // width: 80%;

      color: $red;
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 50%;
      transform: translate(0%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      font-weight: 600;
    }
  }
  &__summary {
    // border: green 1px dotted;

    width: 70%;
    line-height: 1.2rem;
  }
  &__text {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  &__total {
    font-size: 1.2rem;
  }
}
