.shopping {
  width: 40%;

  &__title {
    display: block;
    width: 75%;

    line-height: 1.5rem;
  }

  &__gallery {
    display: flex;
    // border: green 1px dotted;
    width: 100%;
    justify-content: space-between;
    margin: $main-padding / 2 0;
  }

  &__pistol {
    border: 1px lightgrey solid;

    width: 60px;
    height: 60px;
    // border-bottom: 3px solid #fff;

    &:hover {
      border: none;
      border-bottom: 3px solid $red;
    }
  }

  &__dropdown {
    display: flex;
    padding: $main-padding / 2 0;
    justify-content: space-between;
  }

  &__barrel,
  &__caliber {
    width: 48%;
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  &__select {
    // border: red 1px solid;
    // padding: $main-padding / 2 0;
    margin-top: $main-padding / 4;
    width: 100%;
    font-size: 0.8rem;
  }
}

.producent {
  text-transform: uppercase;
  margin: $main-padding / 2 0;

  font-size: 0.8rem;

  &__name {
    color: $red;
    font-size: 0.7rem;
    padding: $main-padding / 4;
    text-transform: none;
  }

  &__code {
    font-size: 0.7rem;
    padding: $main-padding / 4;
    color: black;
    font-weight: bold;
  }
}

.warehouse {
  display: flex;
  line-height: 1rem;

  &__green {
    background: #8dc63f;

    color: white;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__stock {
    padding: 0 $main-padding / 2;
    font-size: 0.7rem;
  }
  &__time {
    font-weight: 700;
    margin-left: auto;
    margin-right: 0;

    text-transform: uppercase;
  }
}

.summary {
  margin: $main-padding 0;
  display: flex;
  justify-content: space-between;
  // border: 1px dotted green;
  &__price {
    &-old {
      text-decoration: line-through;
      font-size: 0.6rem;
      color: grey;
      padding: $main-padding / 4 0;
    }
    &-new {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }

  &__counter {
    border: 1px lightgrey solid;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
  }

  &__btn {
    cursor: pointer;
    outline: none;
  }

  &__add {
    background-image: url('../images/main/basket_add.png');
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 600;
  }
}

.compare {
  display: flex;

  align-content: flex-start;

  &__logo {
    padding-left: $main-padding;
    position: relative;
    display: flex;

    width: 2rem;
  }

  &__ico {
    // border: $red dotted 1px;
    font-size: 2rem;
    position: absolute;

    top: 50%;
    left: 50%;
    font-weight: 200;
    color: $red;

    &--undo {
      transform: scaleX(-1) translate(50%, -50%);
      -moz-transform: scaleX(-1) translate(50%, -50%);
      -o-transform: scaleX(-1) translate(50%, -50%);
      -webkit-transform: scaleX(-1) translate(50%, -50%);

      filter: FlipH;
      -ms-filter: 'FlipH';
    }

    &--dollar {
      font-size: 1rem;
      transform: scale(1) translate(-50%, -50%);
      font-weight: 600;
    }
  }

  &__description {
    line-height: 1rem;

    padding: 0 $main-padding / 1.5;
  }

  &__action {
    text-transform: uppercase;
    margin-left: auto;
    margin-right: 0;
  }
}

.box {
  border: solid lightgrey 1px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  margin: $main-padding 0;

  &__container {
    width: 50%;
    // border: red dotted 1px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    padding: 0 $main-padding;
  }

  &__content {
    padding: 0 $main-padding / 2;
    line-height: 0.8rem;
  }
}
